$primary-color: #007bff;
$text-color: #333;
$background-light: #f8f9fa;
$border-radius: 8px;

$orange-color: #DA722C;
$dark-blue-color: #057ADA;
$dark-color:#070917;
$light-color:#E8F7FB;
$light-blue-color:#6F7DFB;

